/* @font-face {
  font-family: 'MyCustomFont';
  src: url('../fonts/inter_5.1.1_cyrillic-100-italic.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/* Define colors in root */
 :root {
    --primary-color: #2FA8FC; /* Blue */
    --secondary-color: #2ecc71; /* Green */
    --accent-color: #e74c3c; /* Red */
    --background-color: #f4f4f4; /* Light Gray */
    --text-color: #333333; /* Dark Gray */
    --link-color: #2980b9; /* Link color */
}

body h1,h2,h3,h4,h5,h6,p{
  font-family: 'Inter', sans-serif !important;
}

body p{
  color: #000000;
}

p {
  margin-bottom: 1rem; /* ya jitni aapko chahiye */
  margin-top: 0;       /* optionally top margin remove karne ke liye */
  line-height: 1.6;    /* readability ke liye line spacing */
}

.text-small{
  font-size: 14px;
  color: #d3d3d3 !important;
}

.banner{
    background-size: cover;
    background-position: center;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

nav .nav-link{
  font-weight: 700 !important;
  margin-right: 10px;
}

.bold{
  font-weight: 700 !important;
}

.home-banner h1{
  font-weight: 700 !important;
}
 
.banner-btn{
  padding: 10px 40px !important;
  font-weight: 800 !important;
}

.navbar-brand .fw-bold
{
  font-weight: 200 !important;
  font-size: 15px;
}

.navbar-brand .fw-thin
{
  font-weight: lighter !important;
  font-size: 9px;
}


@media screen and (min-width: 992px) {
  .bottom-minus{
    bottom: -50% !important;
  }
  
  .height-335{
    height: 335px !important;
  }

  .order-form{
    height: 36em !important;
  }

  .form-image{
    height: 36em !important;
    background-size: cover;
    background-position: center;
  }
}

.gap-2 .social-icon i{
  color: #fff !important;
}

.equal-height {
    /* height: ; */
    object-fit: cover;
    width: 100%;
  }
  

.btn-primary{
    background-color: var(--primary-color) !important;
    border: none !important;
}

/* Choti screen par navbar brand ke text ko chhota karna */
@media (max-width: 992px) {
    .navbar-brand .fw-bold,
    .navbar-brand .fw-thin {
        font-size: 10px; /* Text ko chhota karna */
    }

    /* Toggle button ke niche links ko align karna */
    .navbar-collapse {
        position: absolute;
        top: 60px; /* Adjust karen toggle button ke neeche */
        width: 100%;
        background-color: #000000c2; /* Optional: background color add karen */
    }

    /* Jab navbar collapse ho to logo ke size ko thora chhota karen */
    .navbar-brand img {
        /* width: 30px; */
        height: 30px;
    }

    /* Navbar links ko center align karna */
    .navbar-nav {
        text-align: center;
    }
}


.navbar--hidden{
    display: none;
}

/* Footer Background Color */
.footer {
    background-color: #333;
    color: #fff;
}

/* Quick Links and Services Styling */
.footer h5 {
  color: #fff !important;
    font-size: 18px;
    font-weight: 600;
}

.footer h5.text-white {
  color: #fff !important;
  font-weight: 100;
  font-family: Open Sans;
}

.footer ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.footer ul li a:hover {
    color: #2FA8FC;
}

/* Bottom Section Styling */
/* Full Width Divider Line */
.footer hr {
    border-color: white;
    width: 100%; /* Full width */
    margin: 0 auto;
}

/* Navbar Brand Customizations */
.navbar-brand span {
    display: block;  /* Display both spans on separate lines */
}

/* Bold for TOTAL UPGRADE */
.navbar-brand .font-weight-bold {
    font-weight: bold;
    font-size: 15px;
}

/* Thin for REMODELING EXPERT */
.navbar-brand .font-weight-light {
    font-weight: lighter;
    font-size: 13px;
}

.footer .navbar-brand img {
    width: 35px; /* Icon size */
    height: 35px;
    margin-right: 15px;
}

/* Bold for TOTAL UPGRADE */
.footer .navbar-brand p {
    font-size: 13px;
}

.footer .text-white {
    color: #cfcfcf !important;
    line-height: 20px;
}

.footer li .text-white:hover {
    color: #2FA8FC !important;
}

footer ul.contact .text-white:hover{
  color: rgb(209, 209, 209) !important;
  cursor: pointer;
}



/* 14 */
.btn-14 {
  background: #2fa8fb !important;
  border: none !important;
  z-index: 1 !important;
}
.btn-14:after {
  position: absolute !important;
  content: "" !important;
  width: 100% !important;
  height: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  border-radius: 12px !important;
  background-color: #001626 !important;
  /* background-image: ; */
  transition: all 0.3s ease !important;
}

.custom-btn {
  /* width: 130px; */
  /* height: 40px !important; */
  color: #fff !important;
  border-radius: 12px !important;
  /* padding: 10px 25px !important; */
  font-family: 'Lato', sans-serif !important;
  font-weight: 500 !important;
  background: transparent;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  position: relative !important;
  display: inline-block !important;
   /* box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1) !important; */
  outline: none !important;
}
.btn-14:hover {
  color: #ffffff !important;
}
.btn-14:hover:after {
  top: auto !important;
  bottom: 0 !important;
  height: 100% !important;
}
.btn-14:active {
  top: 2px !important;
}

/* Social Icons Style */
.social-icon {
    background-color: white; /* White background */
    font-size: 24px; /* Adjust icon size */
    width: 40px; /* Set width */
    height: 40px; /* Set height */
    display: flex;
    align-items: center; /* Vertically center the icon */
    justify-content: center; /* Horizontally center the icon */
    margin-right: 10px; /* Space between icons */
    border-radius: 50%; /* Perfect round shape */
    transition: background-color 0.3s, color 0.3s;
}

.social-icon i {
    color: black !important;
}

.text-theme-color{
    color: #2FA8FC !important;
}

/* .before-after-section {
    max-width: 900px;
    margin: auto;
    padding: 2rem 1rem;
  }
   */
  .before-after-section {
    width: 100%;
    /* height: 100%; */
    padding: 0;
    margin: 0;
  }
  

  .image-compare-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    max-height: 100%;
    border-radius: 45px;
    height: 600px;
  }

  .image-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-after {
    clip-path: inset(0 0 0 50%);
  }
  
  .image-layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .divider-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: #fff;
    z-index: 10;
  }
  
  .slider-range {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    width: calc(100% + 2.25rem);
    height: 100%;
    left: -1.125rem;
    background: transparent;
    z-index: 15;
  }
  
  .slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 height%3D%2224px%22 viewBox%3D%220 -960 960 960%22 width%3D%2224px%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M286.15-293.85 100-479.62l185.77-185.76 42.15 41.76-113 113.62h530.16l-113-113.62 42.15-41.76L860-479.62 674.23-293.85l-42.54-41.77 113.39-114H214.54l113.38 114-41.77 41.77Z%22/%3E%3C/svg%3E');
    background-size: cover;
    cursor: grab;
  }
  
  .slider-range:active::-webkit-slider-thumb {
    cursor: grabbing;
  }
  
  .slider-range::-moz-range-thumb {
    height: 2rem;
    width: 2rem;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 height%3D%2224px%22 viewBox%3D%220 -960 960 960%22 width%3D%2224px%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M286.15-293.85 100-479.62l185.77-185.76 42.15 41.76-113 113.62h530.16l-113-113.62 42.15-41.76L860-479.62 674.23-293.85l-42.54-41.77 113.39-114H214.54l113.38 114-41.77 41.77Z%22/%3E%3C/svg%3E');
    background-size: cover;
    cursor: grab;
  }
  
  .slider-range:active::-moz-range-thumb {
    cursor: grabbing;
  }
  
  .overlay-box {
    bottom: 0;
    left: 0;
    width: 90%;
  }

  .blog-posts{
    color: #ffffff !important;
    transition: all 0.4s ease;
  }
  
  .blog-posts:hover{
    color: #2FA8FC !important;
    text-decoration: underline !important;
  }
  
  .bg-nav{
    background: #001626;
    padding-bottom: 150px; 
  }

  .project-image {
    object-fit: cover !important;
    height: 400px !important;  
    width: 100% !important;
}

@media (max-width: 991.98px) {
  .trusted-white-box,
  .trusted-dark-box {
      width: 100% !important;
  }

  .trusted-white-box {
      margin-bottom: 2rem;
  }

  .trusted-bg-image {
      display: none !important;
  }

  .trusted-quote-img {
      margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .trusted-white-box,
  .trusted-dark-box {
      width: 100%;
  }
}

.project-img-fixed {
  height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  /* border-radius: 6px; */
}

.project-img-auto {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* border-radius: 6px; */
}

@media (max-width: 768px) {
  .project-img-fixed {
      height: 220px;
  }
}

@media (max-width: 400px) {
  .transforming-md-screen  {
    margin-bottom: 150px; /* jitni chahen */
  }
}